<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirdNoise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/-Login-form-Page-BS4-.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/untitled.css') }}">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
</head>

<body style="background-color:rgb(255,255,255);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top navbar-clean" style="background-color:#000;">
        <div class="container"><a class="navbar-brand logo" href="{{ url_for('timeline.index') }}" style="width:50 px;height:50 px;color:#fff;margin-left:-40px;font-family:'Montserrat Alternates', sans-serif;"><img src="{{ url_for('static', filename='img/bird.png') }}" width="50px" height="50px" id="birdlogo" style="background-color:rgba(0,130,255,0);">#birdnoise</a>
            <button
                class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav ml-auto">
					{% if g.user %}
                    <li class="nav-item" role="presentation"><a class="nav-link text-lowercase" href="{{ url_for('timeline.mytimeline') }}" style="font-family:'Montserrat Alternates', sans-serif;color:rgba(255,255,255,0.9);font-size:20px;font-weight:normal;">timeline</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-lowercase" href="{{ url_for('timeline.profile', id=g.user['id']) }}" style="font-family:'Montserrat Alternates', sans-serif;color:rgba(255,255,255,0.9);font-size:20px;font-weight:normal;">profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-lowercase" href="{{ url_for('auth.logout') }}" style="font-family:'Montserrat Alternates', sans-serif;color:rgba(255,255,255,0.9);font-size:20px;font-weight:normal;">logout</a></li>
					{% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link text-lowercase" href="{{ url_for('auth.login') }}" style="font-family:'Montserrat Alternates', sans-serif;color:rgba(255,255,255,0.9);font-size:20px;font-weight:normal;">login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-lowercase" href="{{ url_for('auth.register') }}" style="font-family:'Montserrat Alternates', sans-serif;color:rgba(255,255,255,0.9);font-size:20px;font-weight:normal;">register</a></li>
					{% endif %}
                    </ul>
                </div>
        </div>
    </nav>

	<br />
	<br />
	<br />
	<br />
	<br />
	
	{% block content %}{% endblock %}

    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color:#ffffff;height:100vh;"></section>
        <section class="clean-block clean-hero" style="color:#ffffff;height:100vh;"></section>
    </main>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>

<!--
<!doctype html>
<html>
  <head>
	<title>BirdNoise</title>
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
  </head>
  <body>
	<div id="header">
	  {% if g.user %}
	  Logged in as <a href="{{ url_for('timeline.profile', id=g.user['id']) }}">
		{{ session['user_name'] }}
	  </a><br />
	  <a href="{{ url_for('auth.logout') }}">Logout</a>
	  {% else %}
	  <a href="{{ url_for('auth.login') }}">Login</a> <br />
	  <a href="{{ url_for('auth.register') }}">Register</a>
	  {% endif %}
	</div>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	<div id="content">
	</div>
  </body>
</html>
-->
