


        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 mx-auto" id="uName" style="background-color: black; border-radius:10px;"><div>
					<h1 id="pHeading" style="color:rgb(255,255,255);position:relative;z-index:2;font-size:20px;font-weight:bold;margin-top:5px;text-align:center;">

{% if post['r_user'] %}
<a href="{{ url_for('timeline.profile', id=post['r_user']) }}">
<b>{{ post['r_first_name'] }} {{ post['r_last_name'] }}</b>
</a>
⇋
<a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
</a>
{% else %}
<a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
</a>
{% endif %}
					  </h1></div></div>
            </div>
            <div class="row d-flex"><div class="col-md-4 mt-1 mx-auto" style="background-color: black; border-radius:10px;margin-right:auto;padding-bottom:10px;">
    
				<h1 id="pHeading" style="color:rgb(255,255,255);position:relative;z-index:2;font-size:20px;font-weight:normal;margin-top:5px;">
{{ post['content'] }}
				</h1>


				<div class="col-xs-1"style="display: inline;">
				  <a href="{{ url_for('timeline.repost', id=post['post_id']) }}">
					<button  class="btn" type="button" style="background-image:url({{ url_for('static', filename='img/retweet@2x.png') }});background-repeat:no-repeat;width:30px;height:25px;background-color:rgb(0,0,0);background-size:contain;margin-top: 10px;"></button>
					</a>
    </div>
    
	{% if is_liked %}
<div class="col-xs-1"style="display: inline;">
  <a href="{{ url_for('timeline.unlike', id=post['post_id']) }}">
    <button href="{{ url_for('timeline.unlike', id=post['post_id']) }}" class="btn" type="button" style="background-image:url({{ url_for('static', filename='img/facebook-thumb-up-active@2x.png') }});background-repeat:no-repeat;width:30px;height:25px;background-color:rgb(0,0,0);background-size:contain;margin-top: 10px;"></button>
	</a>
</div>
	{% else %}
<div class="col-xs-1"style="display: inline;">
  <a href="{{ url_for('timeline.like', id=post['post_id']) }}">
    <button  class="btn" type="button" style="background-image:url({{ url_for('static', filename='img/facebook-thumb-up@2x.png') }});background-repeat:no-repeat;width:30px;height:25px;background-color:rgb(0,0,0);background-size:contain;margin-top: 10px;"></button>
	</a>
    </div>
	{% endif %}
	
<div class="col-xs-1" style="display: inline;">
  <a href="{{ url_for('timeline.post', id=post['post_id']) }}">
    <button  class="btn" type="button" style="background-image:url({{ url_for('static', filename='img/icons8-comments@2x.png') }});background-repeat:no-repeat;width:30px;height:25px;background-color:rgb(0,0,0);background-size:contain;margin-top: 10px;"></button>
	</a>
    </div>

{% if g.user['id'] == post['post_user'] %}
<div class="col-xs-1" style="display: inline;">
  <a href="{{ url_for('timeline.post_delete', id=post['post_id']) }}">
    <button  class="btn" type="button" style="background-image:url({{ url_for('static', filename='img/delete.png') }});background-repeat:no-repeat;width:30px;height:25px;background-color:rgb(0,0,0);background-size:contain;margin-top: 10px;"></button>
	</a>
</div>
{% endif %}

    <div class="col-xs-1" style="margin-top:5px;color:white;margin-left:auto;">
        <h1 style="font-size:20px;font-weight:bold;position:relative;left:5%;color:#0082ff;">likes:{{ like_count }}</h1>
    </div>
</div></div>
            <div class="row">
                <div class="col-auto col-xs-4 mx-auto" style="background-color:black;border-radius:10px;text-align:center;padding-right:15px;padding-left:15px;margin-top:5px;"><div>
    <h1 id="duration" style="color:rgb(255,255,255);position:relative;z-index:2;font-size:20px;font-weight:bold;margin-top:10px;text-align:center;">{{ timestamp(post['post_time']) }} ago</h1></div></div>
            </div>
        </div>

<!--
{% if post['r_user'] %}
<a href="{{ url_for('timeline.profile', id=post['r_user']) }}">
<b>{{ post['r_first_name'] }} {{ post['r_last_name'] }}</b>
</a>
⇋
<a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
</a>
{% else %}
<a href="{{ url_for('timeline.profile', id=post['post_user']) }}">
<b>{{ post['first_name'] }} {{ post['last_name'] }}</b>
</a>
{% endif %}
{% if is_liked %}
<a href="{{ url_for('timeline.unlike', id=post['post_id']) }}">♥</a>
{% else %}
<a href="{{ url_for('timeline.like', id=post['post_id']) }}">♡</a>
{% endif %}
<p>
Time: {{ post['post_time'] }}, 
Likes: {{ like_count }},
<a href="{{ url_for('timeline.repost', id=post['post_id']) }}">Repost</a>
</p>

<p>{{ post['content'] }}</p>
-->
