{% for post in posts %}
{% if post['repost_id'] %}
<div id="postform" style="margin:50px auto 0 auto;"
	 ic-get-from="{{ url_for('timeline.repost_view', id=post['repost_id']) }}"
	 ic-trigger-on="load">
</div>
{% else %}
<div id="postform" style="margin:50px auto 0 auto;"
	 ic-get-from="{{ url_for('timeline.post_view', id=post['post_id']) }}"
	 ic-trigger-on="load">
</div>
{% endif %}
{% endfor %}
