{% extends 'base.html' %}

{% block content %}
<div id="postform" style="margin:50px auto 0 auto;"
	 ic-get-from="{{ url_for('timeline.post_view', id=post['post_id']) }}"
	 ic-trigger-on="load">
</div>
{% if g.user %}
<form method="post" action="{{ url_for('timeline.comment', id=post['post_id']) }}" >
  <input name="content" id="content" placeholder="Leave a comment..." required>
  <input type="submit" value="Comment">
</form>
{% endif %}
{% for comment in comments %}
<div class="comment">
  {% if g.user['id'] == comment['user_id'] %}
  <a href="{{ url_for('timeline.delete_comment', id=comment['id']) }}">Delete</a><br />
  {% endif %}
  <p>{{ comment['content'] }}</p>
</div>
{% endfor %}
{% endblock %}
