{% extends 'base.html' %}

{% block content %}
{% if g.user %}
<h2>Create a new post</h2>
<form method="post" action="{{ url_for('timeline.submit') }}" >
  <input name="content" id="content" required>
  <input type="submit" value="Post">
</form>
{% endif %}

{% include 'postlist.html' %}

{% endblock %}
