{% extends 'base.html' %}

{% block content %}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>LOGIN:</h1>
<form method="post">
  <label for="email">Email</label>
  <input name="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <input type="submit" value="Log In">
</form>
{% endblock %}
