{% extends 'base.html' %}

{% block content %}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>REGISTER:</h1>
<form method="post">
  <label for="email">Email</label>
  <input name="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <label for="first_name">First Name</label>
  <input name="first_name" id="first_name">
  <label for="last_name">Last Name</label>
  <input name="last_name" id="last_name">
  <input type="submit" value="Register">
</form>
{% endblock %}
