@media (max-width: 300px) {
  form {
    margin-left:20px;
  }
}

.page-footer.dark h5 {
  margin-left:auto;
  margin-right:auto;
}

@media (min-width: 1200px) {
  .page-footer.dark h5 {
    margin-left:auto;
    margin-right:90px;
  }
}

@media (max-width: 576px) {
  #footer-subtxt {
    width:inherit;
  }
}

@media (min-width:576px) {
  .page-footer {
    text-align:inherit;
  }
}

@media (max-width: 576px) {
  #info2text {
    margin-top:-791px;
  }
}

@media (min-width: 576px) {
  .clean-block .block-heading {
    margin-bottom:200px;
  }
}

@media (max-width: 300px) {
  .img-fluid, .img-thumbnail {
    margin-top:250px;
  }
}

@media (min-width: 300px) {
  #spce {
  }
}

@media (max-width: 576px) {
  #birdhead {
    display:inline;
    transform:rotate(-45deg);
    margin-top:400px;
  }
}

#birdlogo {
  margin-left:40px;
}

@media (min-width: 576px) {
  .clean-block.clean-info.dark {
  }
}

#Infohead {
  background:-webkit-gradient(linear, 100% 0, 0 0, from(#7fc4fd), to(#008cff));
  background:-webkit-linear-gradient(top, #7fc4fd, #008cff);
  background:-moz-linear-gradient(right, red, yellow);
  background:-o-linear-gradient(right, red, yellow);
  background:linear-gradient(right, red, yellow);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

#postform {
  z-index:4;
  margin-left:60vh;
}

#dNum {
  position:absolute;
  top:4.3vh;
  left:49px;
}

@media (min-width: 300px) {
  #uName {
  }
}

@media (min-width: 576px) {
  #uName {
    display:flex;
  }
}

@media (min-width: 768px) {
  #uName {
    margin-left:auto;
  }
}

@media (min-width: 992px) {
  #uName {
  }
}

@media (min-width: 1200px) {
  #uName {
  }
}

@media (min-width: 576px) {
  #duration img {
    margin-right:90px;
  }
}

@media (min-width: 768px) {
  #duration {
  }
}

@media (min-width: 992px) {
  #duration {
  }
}

@media (min-width: 1200px) {
  #duration {
  }
}

